/* Container */
.miscellaneous-container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-top:2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
.miscellaneous-heading {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
  border-bottom: 2px solid #333;
}

/* Grid */
.miscellaneous-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 30px; /* Space between cards */
  justify-items: center;
  align-items: center;
}

/* Card */
.miscellaneous-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 375px;
  height: 250px;
}

.miscellaneous-card:hover {
  transform: scale(1.1);
  background-color: rgb(191, 223, 252);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Icons */
.miscellaneous-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

/* Titles */
.miscellaneous-title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

/* Dynamic Classes */
.miscellaneous-card-timetable {
  border: 3px solid #007bff;
  min-width:20rem;
  min-height: 17rem;
}

.miscellaneous-card-department {
  border: 3px solid #28a745;
  min-width:20rem;
  min-height: 17rem;
}

.miscellaneous-card-subject {
  border: 3px solid #ffc107;
  min-width:20rem;
  min-height: 17rem;
}

.miscellaneous-card-course {
  border: 3px solid #17a2b8;
  min-width:20rem;
  min-height: 17rem;
}

.miscellaneous-card-events {
  border: 3px solid #fd7e14;
  min-width:20rem;
  min-height: 17rem;
}

.miscellaneous-card-room {
  border: 3px solid #dc3545;
  min-width:20rem;
  min-height: 17rem;
}
