/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins"; */
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #fcfdfd;
    width: 100vw;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    background: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    /* Make sure the container takes the full width */
    height: 100%;
    /* Make sure the container takes the full height */
    display: flex;
    justify-content: center;
    /* Center content inside the container */
    align-items: center;
    /* Center content inside the container */
    background: transparent;
}

.link-underline {
    text-decoration: none !important;
    color: #f8f9fa;
}

.link-underline:hover {
    text-decoration: none !important;
    color: #259496;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.3);
    /* Semi-transparent white background */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Light border */
    border-radius: 10px;
    padding: 2rem;
    max-width: 500px;
    color: #090909;
    width: 100%;
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: none !important;
    /* Ensure no background image */
}

.loginbox {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.gradient-custom-2 {
    background: linear-gradient(45deg, #001f54, #006f9b);
    /* Example gradient */
    color: white;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


  
.main-content {
  display: flex;
  flex-direction:column;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}
h1{
  text-align: left;
  color: #102850;
  margin-bottom: 20px;
  font-size: 1.75rem;
}
